body {
    background-color: white;
    padding: 30px;
}

body.success {
    background-color: #1bb159;
}

body.error {
    background-color: #e6432d;
}

.msg {
    max-width: max-content;
    color: white;
    background-color: rgba(255, 255, 255, 0.09);
    text-align: center;
    padding: 30px;
    margin: auto;
}

.none,
.msg:empty {
    display: none;
}
