body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: white;
    padding: 30px;
    padding-top: 0;
    padding-bottom: 0;
}

body.success {
    background-color: #1bb159;
}

body.error {
    background-color: #e6432d;
}

.msg {
    width: max-content;
    color: white;
    background-color: rgba(255, 255, 255, 0.09);
    padding: 30px;
}

.none,
.msg:empty {
    display: none;
}
